@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}

select {
    background-color: #23272a;
    border: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* header */

.jumbotron {
    background-image: url(../img/jumbo.png);
    min-height: 500px;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 10px;
}

.jumbotron .container .row-navigation .col3 {
    width: calc(40% / 2);
}

.jumbotron .container .row-navigation .col6 {
    width: 60%;
    text-align: center;
}

/* logo */

.logo {
    width: 124px;
    height: 34px;
}

/* NavBar */

.container .row-navigation [class^="col"] {
    float: left;
}

.col6.navbar nav .main-navbar li {
    display: inline-block;
    color: #fff;
    padding: 0 10px;
    line-height: 34px;
}

/* signin Button */

.col3.signin {
    text-align: right;
}

.button {
    border-radius: 20px;
    padding: 10px 20px;
}

.button.login {
    background-color: white;
    color: #000;
    line-height: 34px;
}

/* title section */

.row-title .title {
    color: #fff;
    text-align: center;
    padding: 100px 150px;
    font-size: 18px;
}

.row-title .title h1 {
    padding-bottom: 20px;
    font-size: 50px;
}

.row-title .title p {
    line-height: 1.6;
    padding: 10px 5px;
    margin-bottom: 20px;
}

/* bottoni download */

.fas.fa-long-arrow-alt-down {
    padding-right: 5px;
}

.download .button.login {
    margin-right: 20px;
}

.button.open {
    background-color: #23272a;
}


/* first section */

.container .row-section {
    min-height: 550px;
    padding: 50px 25px;
}

.container .row-section .col-section-a {
    width: calc(60% - 100px);
    min-height: 430px;
}

.container .row-section div:first-child {
    margin-right: 100px;
}

.container .row-section .col-section-b {
    width: 40%;
    min-height: 430px;
}

.container .row-section [class^="col-"] {
    float: left;
}

/* modulo img text */

.col-section-b .module-b-title h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.module-b-text {
    line-height: 1.5;
}

/*  section variante */

.background-variante {
    background-color: #e6e6e6;
}

.wave::before, .wave::after {
    content: "";
    display: block;
    background-image: url("../img/wave.svg");
    width: 100%;
    height: 100px;
    opacity: 0.1;
}

.wave::after {
    transform: rotate(0.5turn);
}

/* quarta sezione */

.container .row-section-alt {
    min-height: 1120px;
}

.container .row-section-alt .col-6 {
    min-height: 280px;
}

.container .row-section-alt .col-3 {
    min-height: 540px;
}

/* quarta sezione col-6 uno*/

.wave-alt::before {
    content: "";
    display: block;
    background-image: url("../img/wave.svg");
    width: 100%;
    height: 100px;
    opacity: 0.1;
}

.row-section-alt .col-6 .module-c-title {
    padding: 150px 50px 60px;
    text-align: center;
    }

.col-6 .module-c-title h2 {
    margin-bottom: 10px;
    font-size: 36px;
}

.col-6 .module-c-title p {
    line-height: 1.6;
}

/* quarta sezione col-3  */

.row-section-alt .col-6 .module-c-title .star {
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    padding: 30px 10px;
    margin: 0 125px 10px 125px;
}

/* quarta sezione col 6 download button */

.button.violet {
    color: #fff;
    background-color: #8ea1e1;
}

/* footer */

.bkcg-footer {
    background-color: #23272a;
}

.container .row-footer-top {
    min-height: 340px;
}

.container .row-footer-bottom {
    min-height: 60px;
}

.row-footer-top .col-5-a {
    width: calc(100% - 60% - 50px);
    float: left;
    margin: 20px 10px 20px 0;
}

.row-footer-top .col-5 {
    width: 15%;
    float: left;
    margin: 20px 10px 20px 0;
}

/* row footer top */

.row-footer-top .col-5-a h2 {
    color: #6e84d1;
    font-size: 36px;
    margin-bottom: 20px;
}

/* language select */

.col-5-a .select-menu select {
    color: #fff;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

#ita-flag {
    display: inline-block;
    width: 30px;
    height: 25px;
}

/* social */

.social {
    color: #fff;
}

.social span i {
    margin-right: 30px;
}

/* info utili */

.row-footer-top .col-5 .info-utili h4 {
    color: #6e84d1;
}

.row-footer-top .col-5 .info-utili {
    color: #f5f6f6;
}

.row-footer-top .col-5 .info-utili ul li {
    padding-top: 10px;
}

/* footer logo */

.row-footer-bottom {
    border-top: 2px solid #6e84d1;
}

.row-footer-bottom .logo {
    float: left;
    margin-top: 20px;
}

/* footer button */

.row-footer-bottom .button.violet {
    float: right;
    margin-top: 20px;
}