@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* header */

.jumbotron {
    background-image: url(../img/jumbo.png);
    min-height: 500px;
    background-size: cover;
    background-position: center;
}

.jumbotron .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 10px;
}

.jumbotron .container .row-navigation .col3 {
    width: calc(40% / 2);
}

.jumbotron .container .row-navigation .col6 {
    width: 60%;
    text-align: center;
}

/* NavBar */

.container .row-navigation [class^="col"] {
    float: left;
}

.col6.navbar nav .main-navbar li {
    display: inline-block;
    color: #fff;
    padding: 0 10px;
}

/* signin Button */

.col3.signin {
    text-align: right;
}

.button {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
}



